<% var currentClass = 'is-current'; %>
<nav>
  <ul class="">
    <li class="<%- current == 'home' ? currentClass : '' %>"><a href="#">home</a></li>
    <li class="<%- current == 'page' ? currentClass : '' %>"><a href="#">page</a></li>
  </ul>
</nav>
