@use "foundation/variables" as var;
@use "foundation/mixins";
@use "foundation/functions" as func;

#l-header {
  z-index: func.z(content);
  @include mixins.mq(md) {
    padding: 100 * var.$vw 40 * var.$vw;
  }
}


#l-header {
  width: 100%;
  height: 110px;
  background: rgba(110,110,110,.8);
  position: fixed;
  top: 0;
  left: 0;
}
